#container{
    /*position: fixed;*/
    height: 100%;
    width: 100%;
}
.contxiao{
    position: fixed;
    bottom: 0;
    padding-bottom: 0.5rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(241,236,236,0.5)), to(#d9d9d9));
    background: linear-gradient(rgba(241,236,236,0.5), #d9d9d9);
    width: 100%;
}
.contxiao>div{
    padding: 0 0.2rem;
}
.contxiao_con{
    background: #fff;
    box-shadow: 0 0 10px #cecece;
    padding: 0 0.2rem;
    border-bottom: 1px solid #F6B241;
    border-radius: 4px;
}
.contxiao_con_title{
    font-size: 0.44rem;
    font-weight: bold;
    padding-top: 0.45rem;
}
.contxiao_con_tisi{
    color:#F6B241 ;
    font-size: 0.26rem;
    margin-top: 0.3rem;
}
.contxiao_con_ul{
    margin-top: 0.6rem;
}
.contxiao_con_ul>ul{
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.65rem;
    border-bottom: 1px solid #F2F2F2;
}
.contxiao_con_ul>ul>li{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    text-align: center;
    background: #EAEAEA;
    color: #999999;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
}
.contxiao_con_ul .contxiao_con_ul_hov{
    background: #CFD5E7;
    color: #474C5A;
}
.jieshoupc{
    display: -webkit-box;
    display: flex;
    margin-top: 0.65rem;
}
.jieshoupc_l>p{
    font-size: 0.34rem;
    color: #333;
    font-weight: bold;
}
.jieshoupc_l>div{
    margin-top: 0.3rem;
    font-size: 0.26rem;
    color: #999;
}
.jieshoupc_r{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    margin-left: auto;
}
.jieshoupc_r>i{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    border:1px solid #d5d5d5;
    border-radius: 100%;
}
.jieshoupc_r .jieshoupc_r_i{
    border: none;
    background: url("../img/gouxuan.png");
    background-size: 100% 100%;
}
.contxiao_con_cf{
    font-size: 0.26rem;
    color: #999;
    margin-top: 0.6rem;
}
.contxiao_con_cf>span{
    color:#F6B241 ;
    font-size: 0.3rem;
}
.contxiao_con_cf>span>b{
    font-size:0.46rem;
}
.contxiao_con_beiz{
    display: -webkit-box;
    display: flex;
    margin-top:0.6rem;
    -webkit-box-align: center;
            align-items: center;
    padding-bottom: 0.5rem;
}
.contxiao_con_beiz>span{
    font-weight: bold;
    font-size: 0.34rem;
    color: #333;
    width: 15%;
}
.contxiao_con_beiz>input{
    width: 80%;
    background:#F2F2F2;
    border: none;
    border-radius: 4px;
    padding-left: 5%;
    height: 0.8rem;
}

.hujiao{
    background: #474C5A;
    border-radius: 4px;
    text-align: center;
    font-size: 0.36rem;
    line-height: 0.9rem;
    color: #fff;
    margin-top: 0.2rem;
}
